<section>
	<table ng-repeat="floor in floors" border="1">
		<tr>
			<td ng-repeat="room in floor.rooms">
				<!--{<table>
					<tr>
						<td border="1">{{floor.id}}-{{room.id}}</td>
					</tr>
				</table>}-->
				<roomspace roomtemp="{{roomtemp}}"></roomspace>
			</td>
		</tr>
	</table>
</section>
<aside>
	<button ng-click="newFloor()">添加一行</button>
	<input type="number" ng-model="roomQuantity">
	<select ng-model="{{roomtemp}}">
		<option>roomA0</option>
	</select>
	<!--<input type="number" ng-model="rowQuantity">-->
</aside>

